<div
  class="modal fade infoModal contactModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{pet_name}}</h5>
        <button
          type="button"
          class="btn-close closeModal"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>

      </div>
      <div class="modal-body contact">
        <a href="{{pet_url}}">Link to profile</a>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>