.pet-container {
  width: 430px;
  height: 600px;
}
.pet-container img {
  object-fit: cover;
}
.pet-container .card-img-top {
  height: 320px;
}
.pet-grid {
  display: flex;
  gap: 100px;
  flex-flow: wrap;
  justify-content: center;
}
