
<head>
    {{> message}}
    <title>Welcome, {{user.name}}!</title>
</head>
<body >
    <div class="container">
        <h1>Welcome, {{user.name}}!</h1>
        <br>

        <h2>My Favorite Pets:</h2>
    
        {{#if favorites}}
        {{>favorites}}
        {{else}}
        <p>Pets you've favorited will show up here!</p>
        {{/if}}

        <br>

        <h2>Rescues you follow:</h2>

        {{#if following}}
        {{>following}}
        {{else}}
        <p>Follow a rescue to see contact information.</p>
        {{/if}}
        <br>

        <h3>Update Account Information:</h3>
        <!-- change name and password, not email(username). put in password before allowed to change-->
        <form action = "/verify" method = "POST">
        <label for="email"Enter Email:></label>
        <input type = "text" id = "email" name = "email" placeholder = "email"required>
        <label for="password"Enter Password:></label>
            <input type = "text" id = "password" name = "password" placeholder = "password"required>
            <button type = "submit" >Submit</button>
        </form>

    </div>
</body>