<div class="home-page-container">
<div class="home-main">
  
    <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="search-container">
          <form action="/home" method = 'GET'>
            <input type="text" class="form-control search-input" placeholder="Search Breeds..." name = 'breed' value = {{breed}}>
            <button type = 'submit' class="search-button"><img class="fas fa-search search-icon" src="/resources/images/search.svg" alt="search"></button>
          </form>
        </div>
      </div>
    </div>
  </div>

 {{#if error}}
 <h1 class = 'no-pets-error'>No Pets Found</h1>


 {{else}}
    <div class="pages-container">
      <div id = "page-container">
       {{>petPage}}
       </div>
  
  
</div>
{{/if}}
  
  
    <ul data = '{{data}}' selected = '0' class = 'page-nav'>
      {{#each pages}}
      <li><button class  = 'page-button'>{{@index}}</button></li>
      {{/each}}
  
    </ul>
  </div>
  {{>filters}}
</div>